.file-loader {
    color: white;
    height: 100%;
}

.file-loader__content {
    padding-top: 20%;
    height: 100%;
    border: 5px solid transparent;
    border-radius: 15px;
    transition: transform 600ms ease-in-out;
}

.file-loader--over .file-loader__content {
    border-color: white;
    transform: scale(0.9);
    opacity: 0.8;
}

.file-loader__actions {
    margin-top: 15px;
}

.file-loader__upload-button {
    padding: 20px;
    border: 1px solid midnightblue;
    background-color: royalblue;
    border-radius: 5px;
    display: inline-block;
}

.file-loader__upload-input {
    display: none;
}
